<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="Demo.Service.MessageServiceManager">
        <endpoint address="net.tcp://localhost:8000/MessageServiceManager"
                  binding="netTcpBinding"
                  contract="Demo.Contract.IMessageService" >
          
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
   <!--<system.serviceModel>
    <services>
      <service name="Demo.Service.MessageServiceManager" behaviorConfiguration = "MEX">
        <endpoint address="net.tcp://localhost:8000/MessageServiceManager"
                  binding="netTcpBinding"
                  contract="Demo.Contract.IMessageService" >
          
        </endpoint>
        <endpoint
         address  = "http://localhost:8000/MEX"
         binding  = "mexHttpBinding"
         contract = "IMetadataExchange"
      />
        <endpoint
         address  = "MEX"
         binding  = "mexTcpBinding"
         contract = "IMetadataExchange"
      />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name = "MEX">
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>-->
</configuration>